.friends-display-link {
    background-color: #ebebeb;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 13px 0px;
}
.friends-display-link__text {
    color: #383838;
    font-size: 14px;
    font-weight: 600;
}

.friends-screen__channel {
    border-top: 1px solid rgba(0,0,0,0.1);
    margin: 15px 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friends-screen__title {
    color: rgba(0,0,0,0.5);
    font-size: 14px;;
}
@keyframes hideSplashScreen {
    from {
        opacitiy: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    z-index: 50;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 1s;
}