.nav {
    background-color: rgb(240, 241, 243);
    padding: 19px 50px;
    border-top: 1px rgb(226, 219, 219) solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;

}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
}

@keyframes notiAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {

    }
    
}
.nav__chat-noti {
    position: absolute;
    top: -10px;
    right: -10px;
    animation: notiAnimation 2s ease-in-out infinite;
}
.nav__ellipsis-noti {
    background-color: tomato;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -3px;
}