.screen-header {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0px;
    position: sticky;
    top: 48px;
}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 18px;
}
