.screen-header {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 50px;
}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}
.screen-header__icons span {
    margin-left: 18px;
}